:root {
    --colors-text: #4c4c4c;
    --colors-blue-25: #f2f8fb;
    --colors-blue-50: #e6f2f8;
    --colors-blue-100: #cce6f1;
    --colors-blue-200: #99cce4;
    --colors-blue-300: #66b3d6;
    --colors-blue-400: #4da6cf;
    --colors-blue-500: #007cb5;
    --colors-blue-600: #006696;
    --colors-blue-700: #005a83;
    --colors-blue-800: #00405e;
    --colors-blue-900: #002638;
    --colors-red-100: #f7dede;
    --colors-red-300: #f6b9b9;
    --colors-red-500: #e10700;
    --colors-red-600: #b6120d;
    --colors-red-700: #9d0f0f;
    --colors-salmon-500: #d24545;
    --colors-salmon-700: #b14848;
    --colors-gray-10: #f9fafb;
    --colors-gray-50: #f0f2f4;
    --colors-gray-100: #e7eaee;
    --colors-gray-200: #d3d8df;
    --colors-gray-300: #bdc4cf;
    --colors-gray-400: #a2acbb;
    --colors-gray-500: #7a899e;
    --colors-gray-600: #626e7e;
    --colors-gray-700: #49525f;
    --colors-gray-800: #363e4a;
    --colors-gray-900: #0b0c0f;
    --colors-gray-9000: #1a1d23;
    --colors-gray-10000: black;
    --colors-zinc-100: #f5f5f5;
    --colors-zinc-200: #b4b4b4;
    --colors-zinc-300: #898989;
    --colors-zinc-400: #686868;
    --colors-zinc-500: #575757;
    --colors-zinc-600: #4c4c4c;
    --colors-zinc-700: #4e4d4f;
    --colors-zinc-800: #343434;
    --colors-zinc-900: #0b0c0f;
    --colors-cardea--grey-01: 210deg 16% 95%;
    --colors-cardea--grey-02: 215deg 16% 85%;
    --colors-cardea--grey-03: 213deg 16% 75%;
    --colors-cardea--grey-04: 216deg 16% 65%;
    --colors-cardea--grey-05: 215deg 16% 56%;
    --colors-cardea--grey-06: 216deg 16% 25%;
    --colors-green-25: #f7f9f8;
    --colors-green-50: #eff4f2;
    --colors-green-100: #deebe5;
    --colors-green-200: #ceddd7;
    --colors-green-300: #adc6bc;
    --colors-green-400: #9cb2a9;
    --colors-green-500: #687771;
    --colors-green-600: #59635e;
    --colors-green-700: #474f4b;
    --colors-green-800: #353b38;
    --colors-slate-100: #d0dee5;
    --colors-slate-200: #abc8d42f;
    --colors-slate-300: #abc8d4;
    --colors-slate-500: #9fbcca;
    --colors-slate-600: #6198ae;
    --colors-slate-700: #6e9aaf;
    --colors-slate-800: #4c7f93;
    --colors-magic-blue-700: #247ba3;
    --colors-jade-25: #f3fafa;
    --colors-jade-50: #e8f6f6;
    --colors-jade-100: #c5e7e7;
    --colors-jade-200: #8ed0d0;
    --colors-jade-300: #60bdbd;
    --colors-jade-400: #1ca1a1;
    --colors-jade-500: #168181;
    --colors-jade-600: #116161;
    --colors-jade-700: #0b4040;
    --colors-jade-800: #083030;
    --colors-yellow-400: #efcc1d;
    --colors-yellow-500: #ffd815;
    --colors-lime-300: #e6f1b1;
    --colors-lime-500: #beda2f;
    --colors-lime-700: #8ba01d;
    --colors-success-100: #d3f8e1;
    --colors-success-300: #a1ebbd;
    --colors-success-500: #13ce5a;
    --colors-success-700: #0b7c36;
    --colors-warning-100: #fcf4cf;
    --colors-warning-300: #fdeb92;
    --colors-warning-500: #f0c800;
    --colors-warning-700: #816d09;
    --colors-error-100: #f7dede;
    --colors-error-300: #f6b9b9;
    --colors-error-500: #ea1710;
    --colors-error-600: #b6120d;
    --colors-error-700: #9d0f0f;
    --colors-info-300: #bae8fd;
    --colors-info-500: #0297e8;
    --colors-info-700: #1563bc;
}

:root {
    --colors-text-component: #ffffff;
    --colors-active-component: var(--colors-blue-500);
    --colors-alpha-100: var(--colors-blue-100);
    --colors-alpha-500: var(--colors-blue-500);
    --colors-alpha-600: var(--colors-blue-600);
    --colors-alpha-700: var(--colors-blue-700);
    --colors-beta-100: var(--colors-red-100);
    --colors-beta-500: var(--colors-red-500);
    --colors-beta-600: var(--colors-red-600);
    --colors-beta-700: var(--colors-red-700);
    --colors-gama-25: var(--colors-blue-25);
    --colors-gama-50: var(--colors-blue-50);
    --colors-gama-100: var(--colors-blue-100);
    --colors-gama-200: var(--colors-blue-200);
    --colors-gama-300: var(--colors-blue-300);
    --colors-gama-400: var(--colors-blue-400);
    --colors-gama-500: var(--colors-blue-500);
    --colors-gama-600: var(--colors-blue-600);
    --colors-gama-700: var(--colors-blue-700);
    --colors-gama-800: var(--colors-blue-800);
    --colors-gama-900: var(--colors-blue-900);
    --colors-delta-10: var(--colors-gray-10);
    --colors-delta-50: var(--colors-gray-50);
    --colors-delta-100: var(--colors-gray-100);
    --colors-delta-200: var(--colors-gray-200);
    --colors-delta-300: var(--colors-gray-300);
    --colors-delta-400: var(--colors-gray-400);
    --colors-delta-500: var(--colors-gray-500);
    --colors-delta-600: var(--colors-gray-600);
    --colors-delta-700: var(--colors-gray-700);
    --colors-delta-800: var(--colors-gray-800);
    --colors-delta-900: var(--colors-gray-900);
    --colors-delta-9000: var(--colors-gray-9000);
    --colors-delta-10000: var(--colors-gray-10000);
    --colors-sigma-700: var(--colors-magic-blue-700);
    --colors-theta-100: #ffffff;
    --colors-theta-200: var(--colors-slate-200);
    --colors-theta-300: var(--colors-slate-500);
    --colors-theta-400: #ffffff;
    --colors-theta-500: var(--colors-blue-300);
    --colors-theta-600: var(--colors-blue-700);
    --colors-theta-700: var(--colors-blue-600);
    --colors-theta-800: #ffffff;
    --colors-theta-hover: var(--colors-blue-700);
    /* --colors-btn-bg-hover: var(--colors-slate-300);
    --colors-btn-bg-standart: var(--colors-slate-600);
    --colors-btn-bg-active: var(--colors-slate-800);
    --colors-btn-bg-disabled: var(--colors-green-800);
    --colors-btn-bg-danger: var(--colors-salmon-700);
    --colors-btn-bg-danger-active: var(--colors-salmon-500);
    --colors-button-contained-common-text-color: #ffffff;
    --colors-button-contained-common-bg-color: var(--colors-gama-500);
    --colors-button-contained-common-border-color: var(--colors-gama-500);
    --colors-button-contained-common-focused-text-color: #ffffff;
    --colors-button-contained-common-focused-bg-color: var(--colors-gama-500);
    --colors-button-contained-common-focused-border-color: var(--colors-gama-400);
    --colors-button-contained-common-active-text-color: #ffffff;
    --colors-button-contained-common-active-bg-color: var(--colors-gama-700);
    --colors-button-contained-common-active-border-color: var(--colors-gama-700);
    --colors-button-contained-common-hover-text-color: #ffffff;
    --colors-button-contained-common-hover-bg-color: var(--colors-gama-600);
    --colors-button-contained-common-hover-border-color: var(--colors-gama-600);
    --colors-button-contained-common-disabled-text-color: #ffffff;
    --colors-button-contained-common-disabled-bg-color: var(--colors-delta-300);
    --colors-button-contained-common-disabled-border-color: var(--colors-delta-300);
    --colors-button-contained-error-text-color: #ffffff;
    --colors-button-contained-error-bg-color: var(--colors-beta-500);
    --colors-button-contained-error-border-color: var(--colors-beta-500);
    --colors-button-contained-error-focused-text-color: #ffffff;
    --colors-button-contained-error-focused-bg-color: var(--colors-beta-500);
    --colors-button-contained-error-focused-border-color: var(--colors-beta-400);
    --colors-button-contained-error-active-text-color: #ffffff;
    --colors-button-contained-error-active-bg-color: var(--colors-beta-700);
    --colors-button-contained-error-active-border-color: var(--colors-beta-700);
    --colors-button-contained-error-hover-text-color: #ffffff;
    --colors-button-contained-error-hover-bg-color: var(--colors-beta-600);
    --colors-button-contained-error-hover-border-color: var(--colors-beta-600);
    --colors-button-contained-error-disabled-text-color: #ffffff;
    --colors-button-contained-error-disabled-bg-color: var(--colors-delta-300);
    --colors-button-contained-error-disabled-border-color: transparent;
    --colors-button-outlined-common-text-color: var(--colors-delta-700);
    --colors-button-outlined-common-bg-color: transparent;
    --colors-button-outlined-common-border-color: var(--colors-delta-500);
    --colors-button-outlined-common-focused-text-color: var(--colors-delta-800);
    --colors-button-outlined-common-focused-bg-color: var(--colors-gama-50);
    --colors-button-outlined-common-focused-border-color: var(--colors-gama-400);
    --colors-button-outlined-common-active-text-color: var(--colors-delta-800);
    --colors-button-outlined-common-active-bg-color: var(--colors-gama-50);
    --colors-button-outlined-common-active-border-color: var(--colors-delta-700);
    --colors-button-outlined-common-hover-text-color: var(--colors-delta-800);
    --colors-button-outlined-common-hover-bg-color: var(--colors-gama-100);
    --colors-button-outlined-common-hover-border-color: var(--colors-delta-700);
    --colors-button-outlined-common-disabled-text-color: var(--colors-delta-300);
    --colors-button-outlined-common-disabled-bg-color: transparent;
    --colors-button-outlined-common-disabled-border-color: var(--colors-delta-300);
    --colors-button-outlined-error-text-color: var(--colors-beta-500);
    --colors-button-outlined-error-bg-color: transparent;
    --colors-button-outlined-error-border-color: var(--colors-beta-500);
    --colors-button-outlined-error-focused-text-color: #ffffff;
    --colors-button-outlined-error-focused-bg-color: var(--colors-beta-100);
    --colors-button-outlined-error-focused-border-color: var(--colors-beta-400);
    --colors-button-outlined-error-active-text-color: var(--colors-beta-700);
    --colors-button-outlined-error-active-bg-color: var(--colors-beta-100);
    --colors-button-outlined-error-active-border-color: var(--colors-beta-700);
    --colors-button-outlined-error-hover-text-color: var(--colors-beta-600);
    --colors-button-outlined-error-hover-bg-color: var(--colors-beta-100);
    --colors-button-outlined-error-hover-border-color: var(--colors-beta-600);
    --colors-button-outlined-error-disabled-text-color: var(--colors-delta-300);
    --colors-button-outlined-error-disabled-bg-color: transparent;
    --colors-button-outlined-error-disabled-border-color: var(--colors-delta-300);
    --colors-button-text-common-text-color: var(--colors-gama-500);
    --colors-button-text-common-bg-color: transparent;
    --colors-button-text-common-border-color: transparent;
    --colors-button-text-common-focused-text-color: var(--colors-delta-800);
    --colors-button-text-common-focused-bg-color: var(--colors-gama-50);
    --colors-button-text-common-focused-border-color: var(--colors-gama-400);
    --colors-button-text-common-active-text-color: var(--colors-delta-800);
    --colors-button-text-common-active-bg-color: var(--colors-gama-100);
    --colors-button-text-common-active-border-color: var(--colors-gama-100);
    --colors-button-text-common-hover-text-color: var(--colors-delta-800);
    --colors-button-text-common-hover-bg-color: var(--colors-gama-50);
    --colors-button-text-common-hover-border-color: var(--colors-gama-50);
    --colors-button-text-common-disabled-text-color: var(--colors-delta-300);
    --colors-button-text-common-disabled-bg-color: transparent;
    --colors-button-text-common-disabled-border-color: transparent;
    --colors-button-text-error-text-color: var(--colors-beta-500);
    --colors-button-text-error-bg-color: transparent;
    --colors-button-text-error-border-color: transparent;
    --colors-button-text-error-focused-text-color: var(--colors-beta-600);
    --colors-button-text-error-focused-bg-color: var(--colors-beta-100);
    --colors-button-text-error-focused-border-color: var(--colors-beta-400);
    --colors-button-text-error-active-text-color: var(--colors-beta-600);
    --colors-button-text-error-active-bg-color: var(--colors-beta-100);
    --colors-button-text-error-active-border-color: var(--colors-beta-100);
    --colors-button-text-error-hover-text-color: var(--colors-beta-600);
    --colors-button-text-error-hover-bg-color: var(--colors-beta-100);
    --colors-button-text-error-hover-border-color: var(--colors-beta-100);
    --colors-button-text-error-disabled-text-color: var(--colors-delta-300);
    --colors-button-text-error-disabled-bg-color: transparent;
    --colors-button-text-error-disabled-border-color: transparent;
    --colors-button-textGray-common-text-color: var(--colors-delta-700);
    --colors-button-textGray-common-bg-color: transparent;
    --colors-button-textGray-common-border-color: transparent;
    --colors-button-textGray-common-focused-text-color: var(--colors-delta-800);
    --colors-button-textGray-common-focused-bg-color: var(--colors-gama-50);
    --colors-button-textGray-common-focused-border-color: var(--colors-gama-400);
    --colors-button-textGray-common-active-text-color: var(--colors-delta-800);
    --colors-button-textGray-common-active-bg-color: var(--colors-gama-100);
    --colors-button-textGray-common-active-border-color: var(--colors-gama-100);
    --colors-button-textGray-common-hover-text-color: var(--colors-delta-800);
    --colors-button-textGray-common-hover-bg-color: var(--colors-gama-50);
    --colors-button-textGray-common-hover-border-color: var(--colors-gama-50);
    --colors-button-textGray-common-disabled-text-color: var(--colors-delta-300);
    --colors-button-textGray-common-disabled-bg-color: transparent;
    --colors-button-textGray-common-disabled-border-color: transparent;
    --colors-button-textWhite-common-text-color: white;
    --colors-button-textWhite-common-bg-color: transparent;
    --colors-button-textWhite-common-border-color: transparent;
    --colors-button-textWhite-common-focused-text-color: white;
    --colors-button-textWhite-common-focused-bg-color: transparent;
    --colors-button-textWhite-common-focused-border-color: transparent;
    --colors-button-textWhite-common-active-text-color: white;
    --colors-button-textWhite-common-active-bg-color: transparent;
    --colors-button-textWhite-common-active-border-color: transparent;
    --colors-button-textWhite-common-hover-text-color: white;
    --colors-button-textWhite-common-hover-bg-color: transparent;
    --colors-button-textWhite-common-hover-border-color: transparent;
    --colors-button-textWhite-common-disabled-text-color: white;
    --colors-button-textWhite-common-disabled-bg-color: transparent;
    --colors-button-textWhite-common-disabled-border-color: transparent;
    --colors-btn-bg-mini-action: var(--colors-slate-600);
    --colors-btn-bg-mini-action-hover: var(--colors-slate-300);
    --colors-link-text-hover: #ffffff;
    --colors-link-text-standart: #ffffff;
    --colors-link-text-active: var(--colors-blue-800);
    --colors-link-text-disabled: var(--colors-green-800);
    --colors-app-directory-button-select-recipient-bg: var(--colors-blue-200);
    --colors-btn-task-status-bg: var(--colors-slate-600);
    --colors-chat-ticket-message-bg: var(--colors-blue-200);
    --colors-topbar-text: var(--colors-zinc-500);
    --colors-menu-text-active: var(--colors-slate-700);
    --colors-badge-background: var(--colors-gama-500);
    --colors-badge-text: #ffffff; */
}
[data-theme='fretex'] {
    --colors-text-component: var(--colors-gray-9000);
    --colors-active-component: var(--colors-gama-700);
    --colors-alpha-100: var(--colors-slate-100);
    --colors-alpha-500: var(--colors-slate-500);
    --colors-alpha-600: var(--colors-slate-600);
    --colors-alpha-700: var(--colors-slate-700);
    --colors-beta-100: var(--colors-red-100);
    --colors-beta-500: var(--colors-red-500);
    --colors-beta-600: var(--colors-red-600);
    --colors-beta-700: var(--colors-red-700);
    --colors-gama-25: var(--colors-green-25);
    --colors-gama-50: var(--colors-green-50);
    --colors-gama-100: var(--colors-green-100);
    --colors-gama-200: var(--colors-green-200);
    --colors-gama-300: var(--colors-green-300);
    --colors-gama-400: var(--colors-green-400);
    --colors-gama-500: var(--colors-green-500);
    --colors-gama-600: var(--colors-green-600);
    --colors-gama-700: var(--colors-green-700);
    --colors-gama-800: var(--colors-green-700);
    --colors-delta-10: var(--colors-gray-10);
    --colors-delta-50: var(--colors-gray-50);
    --colors-delta-100: var(--colors-zinc-100);
    --colors-delta-200: var(--colors-zinc-200);
    --colors-delta-300: var(--colors-zinc-300);
    --colors-delta-400: var(--colors-zinc-400);
    --colors-delta-500: var(--colors-zinc-500);
    --colors-delta-600: var(--colors-zinc-600);
    --colors-delta-700: var(--colors-zinc-700);
    --colors-delta-800: var(--colors-zinc-800);
    --colors-delta-900: var(--colors-zinc-900);
    --colors-delta-9000: var(--colors-gray-9000);
    --colors-delta-10000: var(--colors-gray-10000);
    --colors-sigma-700: var(--colors-zinc-500);
    --colors-theta-100: #ffffff;
    --colors-theta-200: var(--colors-green-200);
    --colors-theta-300: var(--colors-green-500);
    --colors-theta-400: #ffffff;
    --colors-theta-500: #ffffff;
    --colors-theta-600: #ffffff;
    --colors-theta-700: #ffffff;
    --colors-theta-800: #ffffff;
    --colors-theta-hover: #ffffff;
    /* --colors-btn-bg-hover: var(--colors-gama-600);
    --colors-btn-bg-standart: var(--colors-gama-500);
    --colors-btn-bg-active: var(--colors-gama-600);
    --colors-btn-bg-disabled: var(--colors-gray-200);
    --colors-btn-bg-danger: var(--colors-red-700);
    --colors-btn-bg-danger-active: var(--colors-red-500);
    --colors-button-contained-common-text-color: #ffffff;
    --colors-button-contained-common-bg-color: var(--colors-gama-500);
    --colors-button-contained-common-border-color: var(--colors-gama-500);
    --colors-button-contained-common-focused-text-color: #ffffff;
    --colors-button-contained-common-focused-bg-color: var(--colors-gama-500);
    --colors-button-contained-common-focused-border-color: var(--colors-gama-400);
    --colors-button-contained-common-active-text-color: #ffffff;
    --colors-button-contained-common-active-bg-color: var(--colors-gama-700);
    --colors-button-contained-common-active-border-color: var(--colors-gama-700);
    --colors-button-contained-common-hover-text-color: #ffffff;
    --colors-button-contained-common-hover-bg-color: var(--colors-gama-600);
    --colors-button-contained-common-hover-border-color: var(--colors-gama-600);
    --colors-button-contained-common-disabled-text-color: #ffffff;
    --colors-button-contained-common-disabled-bg-color: var(--colors-delta-200);
    --colors-button-contained-common-disabled-border-color: var(--colors-delta-200);
    --colors-button-contained-error-text-color: #ffffff;
    --colors-button-contained-error-bg-color: var(--colors-beta-500);
    --colors-button-contained-error-border-color: var(--colors-beta-500);
    --colors-button-contained-error-focused-text-color: #ffffff;
    --colors-button-contained-error-focused-bg-color: var(--colors-beta-500);
    --colors-button-contained-error-focused-border-color: var(--colors-gama-400);
    --colors-button-contained-error-active-text-color: #ffffff;
    --colors-button-contained-error-active-bg-color: var(--colors-beta-700);
    --colors-button-contained-error-active-border-color: var(--colors-beta-700);
    --colors-button-contained-error-hover-text-color: #ffffff;
    --colors-button-contained-error-hover-bg-color: var(--colors-beta-600);
    --colors-button-contained-error-hover-border-color: var(--colors-beta-600);
    --colors-button-contained-error-disabled-text-color: #ffffff;
    --colors-button-contained-error-disabled-bg-color: var(--colors-delta-200);
    --colors-button-contained-error-disabled-border-color: transparent;
    --colors-button-outlined-common-text-color: var(--colors-delta-700);
    --colors-button-outlined-common-bg-color: transparent;
    --colors-button-outlined-common-border-color: var(--colors-delta-400);
    --colors-button-outlined-common-focused-text-color: var(--colors-delta-800);
    --colors-button-outlined-common-focused-bg-color: var(--colors-gama-50);
    --colors-button-outlined-common-focused-border-color: var(--colors-gama-400);
    --colors-button-outlined-common-active-text-color: var(--colors-delta-800);
    --colors-button-outlined-common-active-bg-color: var(--colors-gama-50);
    --colors-button-outlined-common-active-border-color: var(--colors-delta-700);
    --colors-button-outlined-common-hover-text-color: var(--colors-delta-800);
    --colors-button-outlined-common-hover-bg-color: var(--colors-gama-100);
    --colors-button-outlined-common-hover-border-color: var(--colors-delta-700);
    --colors-button-outlined-common-disabled-text-color: var(--colors-delta-200);
    --colors-button-outlined-common-disabled-bg-color: transparent;
    --colors-button-outlined-common-disabled-border-color: var(--colors-delta-200);
    --colors-button-outlined-error-text-color: var(--colors-beta-500);
    --colors-button-outlined-error-bg-color: transparent;
    --colors-button-outlined-error-border-color: var(--colors-beta-500);
    --colors-button-outlined-error-focused-text-color: #ffffff;
    --colors-button-outlined-error-focused-bg-color: var(--colors-beta-100);
    --colors-button-outlined-error-focused-border-color: var(--colors-gama-400);
    --colors-button-outlined-error-active-text-color: var(--colors-beta-700);
    --colors-button-outlined-error-active-bg-color: var(--colors-beta-100);
    --colors-button-outlined-error-active-border-color: var(--colors-beta-700);
    --colors-button-outlined-error-hover-text-color: var(--colors-beta-600);
    --colors-button-outlined-error-hover-bg-color: var(--colors-beta-100);
    --colors-button-outlined-error-hover-border-color: var(--colors-beta-600);
    --colors-button-outlined-error-disabled-text-color: var(--colors-delta-200);
    --colors-button-outlined-error-disabled-bg-color: transparent;
    --colors-button-outlined-error-disabled-border-color: var(--colors-delta-200);
    --colors-button-text-common-text-color: var(--colors-gama-500);
    --colors-button-text-common-bg-color: transparent;
    --colors-button-text-common-border-color: transparent;
    --colors-button-text-common-focused-text-color: var(--colors-delta-800);
    --colors-button-text-common-focused-bg-color: var(--colors-gama-50);
    --colors-button-text-common-focused-border-color: var(--colors-gama-400);
    --colors-button-text-common-active-text-color: var(--colors-delta-800);
    --colors-button-text-common-active-bg-color: var(--colors-gama-100);
    --colors-button-text-common-active-border-color: var(--colors-gama-100);
    --colors-button-text-common-hover-text-color: var(--colors-delta-800);
    --colors-button-text-common-hover-bg-color: var(--colors-gama-50);
    --colors-button-text-common-hover-border-color: var(--colors-gama-50);
    --colors-button-text-common-disabled-text-color: var(--colors-delta-200);
    --colors-button-text-common-disabled-bg-color: transparent;
    --colors-button-text-common-disabled-border-color: transparent;
    --colors-button-text-error-text-color: var(--colors-beta-500);
    --colors-button-text-error-bg-color: transparent;
    --colors-button-text-error-border-color: transparent;
    --colors-button-text-error-focused-text-color: var(--colors-beta-600);
    --colors-button-text-error-focused-bg-color: var(--colors-beta-100);
    --colors-button-text-error-focused-border-color: var(--colors-gama-400);
    --colors-button-text-error-active-text-color: var(--colors-beta-600);
    --colors-button-text-error-active-bg-color: var(--colors-beta-100);
    --colors-button-text-error-active-border-color: var(--colors-beta-100);
    --colors-button-text-error-hover-text-color: var(--colors-beta-600);
    --colors-button-text-error-hover-bg-color: var(--colors-beta-100);
    --colors-button-text-error-hover-border-color: var(--colors-beta-100);
    --colors-button-text-error-disabled-text-color: var(--colors-delta-200);
    --colors-button-text-error-disabled-bg-color: transparent;
    --colors-button-text-error-disabled-border-color: transparent;
    --colors-button-textGray-common-text-color: var(--colors-delta-700);
    --colors-button-textGray-common-bg-color: transparent;
    --colors-button-textGray-common-border-color: transparent;
    --colors-button-textGray-common-focused-text-color: var(--colors-delta-800);
    --colors-button-textGray-common-focused-bg-color: var(--colors-gama-50);
    --colors-button-textGray-common-focused-border-color: var(--colors-gama-400);
    --colors-button-textGray-common-active-text-color: var(--colors-delta-800);
    --colors-button-textGray-common-active-bg-color: var(--colors-gama-100);
    --colors-button-textGray-common-active-border-color: var(--colors-gama-100);
    --colors-button-textGray-common-hover-text-color: var(--colors-delta-800);
    --colors-button-textGray-common-hover-bg-color: var(--colors-gama-50);
    --colors-button-textGray-common-hover-border-color: var(--colors-gama-50);
    --colors-button-textGray-common-disabled-text-color: var(--colors-delta-200);
    --colors-button-textGray-common-disabled-bg-color: transparent;
    --colors-button-textGray-common-disabled-border-color: transparent;
    --colors-button-textWhite-common-text-color: white;
    --colors-button-textWhite-common-bg-color: transparent;
    --colors-button-textWhite-common-border-color: transparent;
    --colors-button-textWhite-common-focused-text-color: white;
    --colors-button-textWhite-common-focused-bg-color: transparent;
    --colors-button-textWhite-common-focused-border-color: transparent;
    --colors-button-textWhite-common-active-text-color: white;
    --colors-button-textWhite-common-active-bg-color: transparent;
    --colors-button-textWhite-common-active-border-color: transparent;
    --colors-button-textWhite-common-hover-text-color: white;
    --colors-button-textWhite-common-hover-bg-color: transparent;
    --colors-button-textWhite-common-hover-border-color: transparent;
    --colors-button-textWhite-common-disabled-text-color: white;
    --colors-button-textWhite-common-disabled-bg-color: transparent;
    --colors-button-textWhite-common-disabled-border-color: transparent;
    --colors-colors-btn-bg-mini-action: var(--colors-zinc-100);
    --colors-colors-btn-bg-mini-action-hover: var(--colors-gama-700);
    --colors-link-text-hover: var(--colors-red-700);
    --colors-link-text-standart: var(--colors-gray-500);
    --colors-link-text-active: var(--colors-red-700);
    --colors-link-text-disabled: var(--colors-gray-200);
    --colors-app-directory-button-select-recipient-bg: var(--colors-slate-500);
    --colors-btn-task-status-bg: var(--colors-green-100);
    --colors-chat-ticket-message-bg: var(--colors-alpha-500);
    --colors-colors-topbar-text: #ffffff;
    --colors-menu-text-active: var(--colors-beta-700);
    --colors-badge-background: var(--colors-beta-700);
    --colors-badge-text: #ffffff; */
}
[data-theme='greenish'] {
    --colors-beta-100: var(--colors-red-100);
    --colors-beta-500: var(--colors-red-500);
    --colors-beta-600: var(--colors-red-600);
    --colors-beta-700: var(--colors-red-700);
    --colors-gama-25: var(--colors-jade-25);
    --colors-gama-50: var(--colors-jade-50);
    --colors-gama-100: var(--colors-jade-100);
    --colors-gama-200: var(--colors-jade-200);
    --colors-gama-300: var(--colors-jade-300);
    --colors-gama-400: var(--colors-jade-400);
    --colors-gama-500: var(--colors-jade-500);
    --colors-gama-600: var(--colors-jade-600);
    --colors-gama-700: var(--colors-jade-700);
    --colors-gama-800: var(--colors-jade-800);
    --colors-delta-10: var(--colors-gray-10);
    --colors-delta-50: var(--colors-gray-50);
    --colors-delta-100: var(--colors-gray-100);
    --colors-delta-200: var(--colors-gray-200);
    --colors-delta-300: var(--colors-gray-300);
    --colors-delta-400: var(--colors-gray-400);
    --colors-delta-500: var(--colors-gray-500);
    --colors-delta-600: var(--colors-gray-600);
    --colors-delta-700: var(--colors-gray-700);
    --colors-delta-800: var(--colors-gray-800);
    --colors-delta-900: var(--colors-gray-900);
    --colors-delta-9000: var(--colors-gray-9000);
    --colors-delta-10000: var(--colors-gray-10000);
    --colors-theta-100: var(--colors-jade-100);
    --colors-theta-200: var(--colors-jade-200);
    --colors-theta-300: var(--colors-jade-300);
    --colors-theta-400: var(--colors-jade-400);
    --colors-theta-500: var(--colors-jade-500);
    --colors-theta-600: var(--colors-jade-600);
    --colors-theta-700: var(--colors-jade-700);
    --colors-theta-800: var(--colors-jade-800);
    --colors-theta-hover: var(--colors-jade-500);
    --colors-sigma-700: var(--colors-jade-600);
    --colors-link-text-hover: #ffffff;
    --colors-link-text-standart: #ffffff;
    --colors-link-text-active: #ffffff;
    --colors-link-text-disabled: var(--colors-gray-200);
    /* --colors-button-contained-common-text-color: #ffffff;
    --colors-button-contained-common-bg-color: var(--colors-gama-500);
    --colors-button-contained-common-border-color: var(--colors-gama-500);
    --colors-button-contained-common-focused-text-color: #ffffff;
    --colors-button-contained-common-focused-bg-color: var(--colors-gama-500);
    --colors-button-contained-common-focused-border-color: var(--colors-gama-400);
    --colors-button-contained-common-active-text-color: #ffffff;
    --colors-button-contained-common-active-bg-color: var(--colors-gama-700);
    --colors-button-contained-common-active-border-color: var(--colors-gama-700);
    --colors-button-contained-common-hover-text-color: #ffffff;
    --colors-button-contained-common-hover-bg-color: var(--colors-gama-600);
    --colors-button-contained-common-hover-border-color: var(--colors-gama-600);
    --colors-button-contained-common-disabled-text-color: #ffffff;
    --colors-button-contained-common-disabled-bg-color: var(--colors-delta-300);
    --colors-button-contained-common-disabled-border-color: var(--colors-delta-300);
    --colors-button-contained-error-text-color: #ffffff;
    --colors-button-contained-error-bg-color: var(--colors-beta-500);
    --colors-button-contained-error-border-color: var(--colors-beta-500);
    --colors-button-contained-error-focused-text-color: #ffffff;
    --colors-button-contained-error-focused-bg-color: var(--colors-beta-500);
    --colors-button-contained-error-focused-border-color: var(--colors-beta-400);
    --colors-button-contained-error-active-text-color: #ffffff;
    --colors-button-contained-error-active-bg-color: var(--colors-beta-700);
    --colors-button-contained-error-active-border-color: var(--colors-beta-700);
    --colors-button-contained-error-hover-text-color: #ffffff;
    --colors-button-contained-error-hover-bg-color: var(--colors-beta-600);
    --colors-button-contained-error-hover-border-color: var(--colors-beta-600);
    --colors-button-contained-error-disabled-text-color: #ffffff;
    --colors-button-contained-error-disabled-bg-color: var(--colors-delta-300);
    --colors-button-contained-error-disabled-border-color: transparent;
    --colors-button-outlined-common-text-color: var(--colors-delta-700);
    --colors-button-outlined-common-bg-color: transparent;
    --colors-button-outlined-common-border-color: var(--colors-delta-500);
    --colors-button-outlined-common-focused-text-color: var(--colors-delta-800);
    --colors-button-outlined-common-focused-bg-color: var(--colors-gama-50);
    --colors-button-outlined-common-focused-border-color: var(--colors-gama-400);
    --colors-button-outlined-common-active-text-color: var(--colors-delta-800);
    --colors-button-outlined-common-active-bg-color: var(--colors-gama-100);
    --colors-button-outlined-common-active-border-color: var(--colors-delta-700);
    --colors-button-outlined-common-hover-text-color: var(--colors-delta-800);
    --colors-button-outlined-common-hover-bg-color: var(--colors-gama-50);
    --colors-button-outlined-common-hover-border-color: var(--colors-delta-700);
    --colors-button-outlined-common-disabled-text-color: var(--colors-delta-300);
    --colors-button-outlined-common-disabled-bg-color: transparent;
    --colors-button-outlined-common-disabled-border-color: var(--colors-delta-300);
    --colors-button-outlined-error-text-color: var(--colors-beta-500);
    --colors-button-outlined-error-bg-color: transparent;
    --colors-button-outlined-error-border-color: var(--colors-beta-500);
    --colors-button-outlined-error-focused-text-color: #ffffff;
    --colors-button-outlined-error-focused-bg-color: var(--colors-beta-100);
    --colors-button-outlined-error-focused-border-color: var(--colors-beta-400);
    --colors-button-outlined-error-active-text-color: var(--colors-beta-700);
    --colors-button-outlined-error-active-bg-color: var(--colors-beta-100);
    --colors-button-outlined-error-active-border-color: var(--colors-beta-700);
    --colors-button-outlined-error-hover-text-color: var(--colors-beta-600);
    --colors-button-outlined-error-hover-bg-color: var(--colors-beta-100);
    --colors-button-outlined-error-hover-border-color: var(--colors-beta-600);
    --colors-button-outlined-error-disabled-text-color: var(--colors-delta-300);
    --colors-button-outlined-error-disabled-bg-color: transparent;
    --colors-button-outlined-error-disabled-border-color: var(--colors-delta-300);
    --colors-button-text-common-text-color: var(--colors-gama-500);
    --colors-button-text-common-bg-color: transparent;
    --colors-button-text-common-border-color: transparent;
    --colors-button-text-common-focused-text-color: var(--colors-delta-800);
    --colors-button-text-common-focused-bg-color: var(--colors-gama-50);
    --colors-button-text-common-focused-border-color: var(--colors-gama-400);
    --colors-button-text-common-active-text-color: var(--colors-delta-800);
    --colors-button-text-common-active-bg-color: var(--colors-gama-100);
    --colors-button-text-common-active-border-color: var(--colors-gama-100);
    --colors-button-text-common-hover-text-color: var(--colors-delta-800);
    --colors-button-text-common-hover-bg-color: var(--colors-gama-50);
    --colors-button-text-common-hover-border-color: var(--colors-gama-50);
    --colors-button-text-common-disabled-text-color: var(--colors-delta-300);
    --colors-button-text-common-disabled-bg-color: transparent;
    --colors-button-text-common-disabled-border-color: transparent;
    --colors-button-text-error-text-color: var(--colors-beta-500);
    --colors-button-text-error-bg-color: transparent;
    --colors-button-text-error-border-color: transparent;
    --colors-button-text-error-focused-text-color: var(--colors-beta-600);
    --colors-button-text-error-focused-bg-color: var(--colors-beta-100);
    --colors-button-text-error-focused-border-color: var(--colors-beta-400);
    --colors-button-text-error-active-text-color: var(--colors-beta-600);
    --colors-button-text-error-active-bg-color: var(--colors-beta-100);
    --colors-button-text-error-active-border-color: var(--colors-beta-100);
    --colors-button-text-error-hover-text-color: var(--colors-beta-600);
    --colors-button-text-error-hover-bg-color: var(--colors-beta-100);
    --colors-button-text-error-hover-border-color: var(--colors-beta-100);
    --colors-button-text-error-disabled-text-color: var(--colors-delta-300);
    --colors-button-text-error-disabled-bg-color: transparent;
    --colors-button-text-error-disabled-border-color: transparent;
    --colors-button-textGray-common-text-color: var(--colors-delta-700);
    --colors-button-textGray-common-bg-color: transparent;
    --colors-button-textGray-common-border-color: transparent;
    --colors-button-textGray-common-focused-text-color: var(--colors-delta-800);
    --colors-button-textGray-common-focused-bg-color: var(--colors-gama-50);
    --colors-button-textGray-common-focused-border-color: var(--colors-gama-400);
    --colors-button-textGray-common-active-text-color: var(--colors-delta-800);
    --colors-button-textGray-common-active-bg-color: var(--colors-gama-100);
    --colors-button-textGray-common-active-border-color: var(--colors-gama-100);
    --colors-button-textGray-common-hover-text-color: var(--colors-delta-800);
    --colors-button-textGray-common-hover-bg-color: var(--colors-gama-50);
    --colors-button-textGray-common-hover-border-color: var(--colors-gama-50);
    --colors-button-textGray-common-disabled-text-color: var(--colors-delta-300);
    --colors-button-textGray-common-disabled-bg-color: transparent;
    --colors-button-textGray-common-disabled-border-color: transparent;
    --colors-button-textWhite-common-text-color: white;
    --colors-button-textWhite-common-bg-color: transparent;
    --colors-button-textWhite-common-border-color: transparent;
    --colors-button-textWhite-common-focused-text-color: white;
    --colors-button-textWhite-common-focused-bg-color: transparent;
    --colors-button-textWhite-common-focused-border-color: transparent;
    --colors-button-textWhite-common-active-text-color: white;
    --colors-button-textWhite-common-active-bg-color: transparent;
    --colors-button-textWhite-common-active-border-color: transparent;
    --colors-button-textWhite-common-hover-text-color: white;
    --colors-button-textWhite-common-hover-bg-color: transparent;
    --colors-button-textWhite-common-hover-border-color: transparent;
    --colors-button-textWhite-common-disabled-text-color: white;
    --colors-button-textWhite-common-disabled-bg-color: transparent;
    --colors-button-textWhite-common-disabled-border-color: transparent;
    --colors-menu-text-active: var(--colors-jade-700);
    --colors-badge-background: var(--colors-lime-500);
    --colors-badge-text: var(--colors-jade-600); */
}
