.styled-widget-header {
    display: flex;
    position: relative;
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 24px;
    justify-content: space-between;
    align-items: center;
}
