.styled-dialog-actions-root {
    padding: 0px;
    margin: 0px;
    justify-content: center;
}
.styled-dialog-actions {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-content: flex-end;
    padding: 16px;
    gap: 16px;
}
