node_modules
node_modules/*
generated/*
dist
build
.vscode
consul_services
REST_API
public
k8s_configs
k8s_configs
configs
webpack.config.js
config-overrides.js
craco.config.js
apollo.config.js
serviceWorker.ts
/src/*.spec.js
/src/**/*.spec.js
/src/*.test.js
/src/**/*.test.js
cypress
deployment
types
snowpack.config.js
tailwind.config.js
src/index.html
index.html