.asma-ui-table-styled-table {
    .hide-table-header {
        height: 0px;
        opacity: 0;
    }
    .show-table-header {
        position: relative;
        height: 30px;
        opacity: 1;
    }

    .sortable-column {
        cursor: pointer;
        user-select: none;
    }

    .resizer {
        position: absolute;
        top: 0;
        height: 100%;
        right: 0;
        width: 5px;
        background: var(--colors-delta-300);
        cursor: col-resize;
        user-select: none;
        touch-action: none;
    }

    .resizer.isResizing {
        background: var(--colors-gama-500);
        opacity: 1;
    }

    @media (hover: hover) {
        .resizer {
            opacity: 0;
        }

        *:hover > .resizer {
            opacity: 1;
        }
    }

    .table-header {
        display: table-header-group;
        z-index: 49;
        background-color: #fcfcfd;
        cursor: default;

        .t-cell {
            text-transform: uppercase;
            background-color: transparent;
            font-size: 10px;
            font-weight: 600;
            text-align: start;
            color: var(--colors-delta-500);
            // display: table-cell;
            white-space: pre-wrap;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 0;
            padding-bottom: 0;
            border-top: 0.5px solid var(--colors-delta-300);
            border-bottom: 0.5px solid var(--colors-delta-300);

            &.t-cell__actions {
                position: sticky;
                right: 0;
                background-color: #fcfcfd;
            }
        }

        .sort-icon {
            color: var(--colors-delta-800);
        }
    }
}
