.asma-core-ui-styled-table {
    tr.no-rows-overlay {
        height: 112px;

        td {
            font-size: 0.875rem;
            line-height: 1.25rem;
            text-align: center;
            vertical-align: middle;
        }
    }
}
