:root {
    --colors-text-component: #ffffff;
    --colors-active-component: var(--colors-blue-500);
    --colors-alpha-100: var(--colors-blue-100);
    --colors-alpha-500: var(--colors-blue-500);
    --colors-alpha-600: var(--colors-blue-600);
    --colors-alpha-700: var(--colors-blue-700);
    --colors-beta-100: var(--colors-red-100);
    --colors-beta-500: var(--colors-red-500);
    --colors-beta-600: var(--colors-red-600);
    --colors-beta-700: var(--colors-red-700);
    --colors-gama-25: var(--colors-blue-25);
    --colors-gama-50: var(--colors-blue-50);
    --colors-gama-100: var(--colors-blue-100);
    --colors-gama-200: var(--colors-blue-200);
    --colors-gama-300: var(--colors-blue-300);
    --colors-gama-400: var(--colors-blue-400);
    --colors-gama-500: var(--colors-blue-500);
    --colors-gama-600: var(--colors-blue-600);
    --colors-gama-700: var(--colors-blue-700);
    --colors-gama-800: var(--colors-blue-800);
    --colors-gama-900: var(--colors-blue-900);
    --colors-delta-10: var(--colors-gray-10);
    --colors-delta-50: var(--colors-gray-50);
    --colors-delta-100: var(--colors-gray-100);
    --colors-delta-200: var(--colors-gray-200);
    --colors-delta-300: var(--colors-gray-300);
    --colors-delta-400: var(--colors-gray-400);
    --colors-delta-500: var(--colors-gray-500);
    --colors-delta-600: var(--colors-gray-600);
    --colors-delta-700: var(--colors-gray-700);
    --colors-delta-800: var(--colors-gray-800);
    --colors-delta-900: var(--colors-gray-900);
    --colors-delta-9000: var(--colors-gray-9000);
    --colors-delta-10000: var(--colors-gray-10000);
    --colors-sigma-700: var(--colors-magic-blue-700);
    --colors-theta-100: #ffffff;
    --colors-theta-200: var(--colors-slate-200);
    --colors-theta-300: var(--colors-slate-500);
    --colors-theta-400: #ffffff;
    --colors-theta-500: var(--colors-blue-300);
    --colors-theta-600: var(--colors-blue-700);
    --colors-theta-700: var(--colors-blue-600);
    --colors-theta-800: #ffffff;
    --colors-theta-hover: var(--colors-blue-700);
    --colors-btn-bg-hover: var(--colors-slate-300);
    --colors-btn-bg-standart: var(--colors-slate-600);
    --colors-btn-bg-active: var(--colors-slate-800);
    --colors-btn-bg-disabled: var(--colors-green-800);
    --colors-btn-bg-danger: var(--colors-salmon-700);
    --colors-btn-bg-danger-active: var(--colors-salmon-500);

    --colors-button-contained-common-text-color: #ffffff;
    --colors-button-contained-common-bg-color: var(--colors-gama-500);
    --colors-button-contained-common-border-color: var(--colors-gama-500);
    --colors-button-contained-common-focused-text-color: #ffffff;
    --colors-button-contained-common-focused-bg-color: var(--colors-gama-500);
    --colors-button-contained-common-focused-border-color: var(--colors-gama-400);
    --colors-button-contained-common-active-text-color: #ffffff;
    --colors-button-contained-common-active-bg-color: var(--colors-gama-700);
    --colors-button-contained-common-active-border-color: var(--colors-gama-700);
    --colors-button-contained-common-hover-text-color: #ffffff;
    --colors-button-contained-common-hover-bg-color: var(--colors-gama-600);
    --colors-button-contained-common-hover-border-color: var(--colors-gama-600);
    --colors-button-contained-common-disabled-text-color: #ffffff;
    --colors-button-contained-common-disabled-bg-color: var(--colors-delta-300);
    --colors-button-contained-common-disabled-border-color: var(--colors-delta-300);

    --colors-button-contained-error-text-color: #ffffff;
    --colors-button-contained-error-bg-color: var(--colors-beta-500);
    --colors-button-contained-error-border-color: var(--colors-beta-500);
    --colors-button-contained-error-focused-text-color: #ffffff;
    --colors-button-contained-error-focused-bg-color: var(--colors-beta-500);
    --colors-button-contained-error-focused-border-color: var(--colors-beta-400);
    --colors-button-contained-error-active-text-color: #ffffff;
    --colors-button-contained-error-active-bg-color: var(--colors-beta-700);
    --colors-button-contained-error-active-border-color: var(--colors-beta-700);
    --colors-button-contained-error-hover-text-color: #ffffff;
    --colors-button-contained-error-hover-bg-color: var(--colors-beta-600);
    --colors-button-contained-error-hover-border-color: var(--colors-beta-600);
    --colors-button-contained-error-disabled-text-color: #ffffff;
    --colors-button-contained-error-disabled-bg-color: var(--colors-delta-300);
    --colors-button-contained-error-disabled-border-color: transparent;

    --colors-button-outlined-common-text-color: var(--colors-delta-700);
    --colors-button-outlined-common-bg-color: transparent;
    --colors-button-outlined-common-border-color: var(--colors-delta-500);
    --colors-button-outlined-common-focused-text-color: var(--colors-delta-800);
    --colors-button-outlined-common-focused-bg-color: var(--colors-gama-50);
    --colors-button-outlined-common-focused-border-color: var(--colors-gama-400);
    --colors-button-outlined-common-active-text-color: var(--colors-delta-800);
    --colors-button-outlined-common-active-bg-color: var(--colors-gama-50);
    --colors-button-outlined-common-active-border-color: var(--colors-delta-700);
    --colors-button-outlined-common-hover-text-color: var(--colors-delta-800);
    --colors-button-outlined-common-hover-bg-color: var(--colors-gama-100);
    --colors-button-outlined-common-hover-border-color: var(--colors-delta-700);
    --colors-button-outlined-common-disabled-text-color: var(--colors-delta-300);
    --colors-button-outlined-common-disabled-bg-color: transparent;
    --colors-button-outlined-common-disabled-border-color: var(--colors-delta-300);

    --colors-button-outlined-error-text-color: var(--colors-beta-500);
    --colors-button-outlined-error-bg-color: transparent;
    --colors-button-outlined-error-border-color: var(--colors-beta-500);
    --colors-button-outlined-error-focused-text-color: #ffffff;
    --colors-button-outlined-error-focused-bg-color: var(--colors-beta-100);
    --colors-button-outlined-error-focused-border-color: var(--colors-beta-400);
    --colors-button-outlined-error-active-text-color: var(--colors-beta-700);
    --colors-button-outlined-error-active-bg-color: var(--colors-beta-100);
    --colors-button-outlined-error-active-border-color: var(--colors-beta-700);
    --colors-button-outlined-error-hover-text-color: var(--colors-beta-600);
    --colors-button-outlined-error-hover-bg-color: var(--colors-beta-100);
    --colors-button-outlined-error-hover-border-color: var(--colors-beta-600);
    --colors-button-outlined-error-disabled-text-color: var(--colors-delta-300);
    --colors-button-outlined-error-disabled-bg-color: transparent;
    --colors-button-outlined-error-disabled-border-color: var(--colors-delta-300);

    --colors-button-text-common-text-color: var(--colors-gama-500);
    --colors-button-text-common-bg-color: transparent;
    --colors-button-text-common-border-color: transparent;
    --colors-button-text-common-focused-text-color: var(--colors-delta-800);
    --colors-button-text-common-focused-bg-color: var(--colors-gama-50);
    --colors-button-text-common-focused-border-color: var(--colors-gama-400);
    --colors-button-text-common-active-text-color: var(--colors-delta-800);
    --colors-button-text-common-active-bg-color: var(--colors-gama-100);
    --colors-button-text-common-active-border-color: var(--colors-gama-100);
    --colors-button-text-common-hover-text-color: var(--colors-delta-800);
    --colors-button-text-common-hover-bg-color: var(--colors-gama-50);
    --colors-button-text-common-hover-border-color: var(--colors-gama-50);
    --colors-button-text-common-disabled-text-color: var(--colors-delta-300);
    --colors-button-text-common-disabled-bg-color: transparent;
    --colors-button-text-common-disabled-border-color: transparent;

    --colors-button-text-error-text-color: var(--colors-beta-500);
    --colors-button-text-error-bg-color: transparent;
    --colors-button-text-error-border-color: transparent;
    --colors-button-text-error-focused-text-color: var(--colors-beta-600);
    --colors-button-text-error-focused-bg-color: var(--colors-beta-100);
    --colors-button-text-error-focused-border-color: var(--colors-beta-400);
    --colors-button-text-error-active-text-color: var(--colors-beta-600);
    --colors-button-text-error-active-bg-color: var(--colors-beta-100);
    --colors-button-text-error-active-border-color: var(--colors-beta-100);
    --colors-button-text-error-hover-text-color: var(--colors-beta-600);
    --colors-button-text-error-hover-bg-color: var(--colors-beta-100);
    --colors-button-text-error-hover-border-color: var(--colors-beta-100);
    --colors-button-text-error-disabled-text-color: var(--colors-delta-300);
    --colors-button-text-error-disabled-bg-color: transparent;
    --colors-button-text-error-disabled-border-color: transparent;

    --colors-button-textGray-common-text-color: var(--colors-delta-700);
    --colors-button-textGray-common-bg-color: transparent;
    --colors-button-textGray-common-border-color: transparent;
    --colors-button-textGray-common-focused-text-color: var(--colors-delta-800);
    --colors-button-textGray-common-focused-bg-color: var(--colors-gama-50);
    --colors-button-textGray-common-focused-border-color: var(--colors-gama-400);
    --colors-button-textGray-common-active-text-color: var(--colors-delta-800);
    --colors-button-textGray-common-active-bg-color: var(--colors-gama-100);
    --colors-button-textGray-common-active-border-color: var(--colors-gama-100);
    --colors-button-textGray-common-hover-text-color: var(--colors-delta-800);
    --colors-button-textGray-common-hover-bg-color: var(--colors-gama-50);
    --colors-button-textGray-common-hover-border-color: var(--colors-gama-50);
    --colors-button-textGray-common-disabled-text-color: var(--colors-delta-300);
    --colors-button-textGray-common-disabled-bg-color: transparent;
    --colors-button-textGray-common-disabled-border-color: transparent;

    --colors-button-textWhite-common-text-color: white;
    --colors-button-textWhite-common-bg-color: transparent;
    --colors-button-textWhite-common-border-color: transparent;
    --colors-button-textWhite-common-focused-text-color: white;
    --colors-button-textWhite-common-focused-bg-color: transparent;
    --colors-button-textWhite-common-focused-border-color: transparent;
    --colors-button-textWhite-common-active-text-color: white;
    --colors-button-textWhite-common-active-bg-color: transparent;
    --colors-button-textWhite-common-active-border-color: transparent;
    --colors-button-textWhite-common-hover-text-color: white;
    --colors-button-textWhite-common-hover-bg-color: transparent;
    --colors-button-textWhite-common-hover-border-color: transparent;
    --colors-button-textWhite-common-disabled-text-color: white;
    --colors-button-textWhite-common-disabled-bg-color: transparent;
    --colors-button-textWhite-common-disabled-border-color: transparent;

    --colors-btn-bg-mini-action: var(--colors-slate-600);
    --colors-btn-bg-mini-action-hover: var(--colors-slate-300);
    --colors-link-text-hover: #ffffff;
    --colors-link-text-standart: #ffffff;
    --colors-link-text-active: var(--colors-blue-800);
    --colors-link-text-disabled: var(--colors-green-800);

    --colors-app-directory-button-select-recipient-bg: var(--colors-blue-200);
    --colors-btn-task-status-bg: var(--colors-slate-600);
    --colors-chat-ticket-message-bg: var(--colors-blue-200);
    --colors-topbar-text: var(--colors-zinc-500);
    --colors-menu-text-active: var(--colors-slate-700);

    --colors-badge-background: var(--colors-gama-500);
    --colors-badge-text: #ffffff;
}
