@import 'color-variables/rootVariables.css';
@import 'components-colors/inputVariables.css';
@import 'color-variables/defaultTokens.css';
@import 'color-variables/fretexTokens.css';
@import 'color-variables/jadeTokens.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/** #TODO: deprecated remove on next major verions. expected to be removed befroe 2024/09 */
@import './backupCompatibilityStyle.css';

@tailwind components;
@tailwind utilities;

@layer utilities {
    .border-solid {
        border-style: solid;
    }

    .border-r-solid {
        border-right-style: solid;
    }

    .border-l-solid {
        border-left-style: solid;
    }

    .border-b-solid {
        border-bottom-style: solid;
    }

    .border-t-solid {
        border-top-style: solid;
    }

    .border-y-solid {
        border-top-style: solid;
        border-bottom-style: solid;
    }

    .absolute-center {
        @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
    }

    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    }

    .allselect {
        -webkit-touch-callout: all; /* iOS Safari */
        -webkit-user-select: all; /* Safari */
        -khtml-user-select: all; /* Konqueror HTML */
        -moz-user-select: all; /* Old versions of Firefox */
        -ms-user-select: all; /* Internet Explorer/Edge */
        user-select: all; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    }

    .overflow-wrap-anywhere {
        word-break: break-word !important; /* Chrome, Safari */
        overflow-wrap: anywhere !important; /* Firefox */
    }

    .overflow-scroll::-webkit-scrollbar {
        display: none;
    }
}
