.styled-date-picker-input-range-compact {
    display: inline-flex;
    gap: 16px;
    align-items: center;
    width: fit-content;
    cursor: pointer;

    &.range-compact-disabled {
        pointer-events: none;
        color: var(--colors-gray-300);
    }
}
