.styled-calendar-day-picker {
    font-family: Roboto;
    .months {
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-top: 16px;
        margin-bottom: 16px;

        @media (min-width: 640px) {
            flex-direction: row;
            margin-left: 14px;
            margin-right: 14px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .month {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .caption {
        display: flex;
        position: relative;
        padding-top: 4px;
        justify-content: center;
        align-items: center;
    }
    .caption_label {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: var(--colors-gray-700);
    }
    .nav {
        display: flex;
        gap: 8px;
        align-items: center;
    }
    .nav_button {
        height: 28px;
        width: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border-width: 1px;
        color: var(--colors-gray-700);
        border-color: var(--colors-gray-500);
    }
    .nav_button_previous {
        position: absolute;
        left: 4px;
    }
    .nav_button_next {
        position: absolute;
        right: 4px;
    }
    .head_row {
        display: flex;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
    }
    .head_cell {
        color: var(--colors-gray-600);
        width: 36px;
        cursor: pointer;
        text-transform: capitalize;
    }
    .row {
        display: flex;
        width: 100%;
        margin-top: 8px;
    }
    .cell {
        font-size: 14px;
        line-height: 20px;
        width: 36px;
        color: var(--colors-gray-800);
        position: relative;
        &.has {
            background-color: var(--colors-gama-50);
        }
        &.first {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }
        &.last {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }
    .day {
        height: 40px;
        width: 36px;
        padding: 0px;
        font-weight: 400px;
        border-radius: 6px;
        &:hover {
            background-color: var(--colors-gray-50) !important;
        }
        &.focus-visible {
            border-color: white;
            outline-style: solid;
            outline-width: 2px;
            outline-color: var(--colors-gama-500) !important;
            z-index: 50;
        }
    }
    .day_today {
        color: var(--colors-gama-700) !important;
        font-size: 16px;
        line-height: 24px;
        background-color: var(--colors-gray-50) !important;
        font-weight: 700;
        &:hover {
            background-color: var(--colors-gama-50) !important;
        }

        &.day_selected {
            background-color: var(--colors-gama-50) !important;
        }
        &.day_selected.rdp-day_range_end {
            background-color: var(--colors-gama-500) !important;
            color: white !important;
        }
    }
    .day_selected {
        @apply bg-gama-500 text-white;
        border-radius: 6px !important;

        &:hover {
            background-color: var(--colors-gama-500) !important;
            color: white !important;
        }

        &.day_selected.rdp-day_range_end.day_outside {
            background-color: var(--colors-gama-500) !important;
            color: white !important;
        }

        &.day_range_middle {
            background-color: var(--colors-gama-50);
            color: var(--colors-gray-800);
        }
    }
    .day_outside {
        color: var(--colors-gray-400);
    }
    .day_disabled {
        color: var(--colors-gray-400);
    }

    .day_hidden {
        visibility: hidden;
    }
    .caption_end {
        & tfoot {
            display: none;
        }

        & .rdp-custom-caption {
            opacity: 0;
            pointer-events: none;
        }
    }
    
}
