.buttons-module {
    .buttons-module__table-row {
        display: flex;
    }
    .buttons-module__text {
        width: 100px;
        display: flex;
        align-items: center;
        height: 50px;
        color: #4a5568;
        font-weight: bold;
    }
    .buttons-module__table-borders {
        display: flex;
        width: fit-content;
        border: 1px solid;
        border-color: var(--colors-gray-200);
        border-bottom: none;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .buttons-module__table-row-borders {
        width: 570px;
        display: flex;
        justify-content: center;
        padding-top: 8px;
        padding-bottom: 8px;
        border-width: 1px;
        border-style: solid;
        border-color: var(--colors-gray-200);
        border-left-width: 1px;
        border-top-width: 1px;
        border-right-width: 0;
    }
    .buttons-module__table-header-button-type {
        width: 100px;
        min-width: 100px;
        display: flex;
        align-items: center;
        height: 50px;
        font-weight: bold;
        font-size: 16px;
        color: var(--colors-gray-800);
    }
    .buttons-module__table-header-button-state {
        width: 570px;
        min-width: 570px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left-style: solid;
        font-weight: bold;
        border-color: var(--colors-gray-200);
        color: var(--colors-gray-600);
    }
}

.header {
    color: var(--colors-gray-800);
}
