.asma-ui-table-styled-table {
    *,
    *:after,
    *:before {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    @apply w-full;

    .table-wrapper {
        overflow: auto;
        width: 100%;
    }
    .styled-table {
        display: table;
        margin: 0;
        // border-collapse: collapse;
        border-collapse: separate;
        border-spacing: 0 0.5px;
        max-width: inherit;
        width: 100%;

        .tbody {
            display: table-row-group;
            vertical-align: middle;
            max-width: inherit;
        }
    }

    .loading-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
    }

    .t-row {
        margin-top: 1px;
        display: table-row;
        border-style: solid;
        border-left-width: 0.5px;
        border-right-width: 0.5px;
        border-top-width: 0.5px;
        border-bottom-width: 0.5px;
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: var(--colors-delta-300);
        // border-bottom-color: var(--colors-delta-300);

        &:hover {
            background-color: var(--colors-gray-50);
            cursor: pointer;

            .action-cell {
                background-color: var(--colors-gama-25);
            }
            .fixed-cell {
                background-color: var(--colors-gama-25);
            }
        }

        &:focus {
            background-color: var(--colors-gama-50);
            .action-cell {
                background-color: var(--colors-gama-50);
            }
            .fixed-cell {
                background-color: var(--colors-gama-50);
            }

            // t-cell on parent focus
            .t-cell {
                border-top: 0.5px solid var(--colors-gama-500);
                border-bottom: 0.5px solid var(--colors-gama-500);
                &:first-child {
                    border-left: 0.5px solid var(--colors-gama-500);
                }
                &:last-child {
                    border-right: 0.5px solid var(--colors-gama-500);
                }
            }
        }

        &:focus-visible {
            outline: none;
        }

        &:last-child {
            border-bottom-color: transparent;
        }
        &:first-child {
            border-top-color: transparent;
        }

        .t-cell {
            overflow-wrap: break-word;
            vertical-align: middle;
            font-size: 14px;
            line-height: 20px;
            color: var(--colors-gray-700);
            display: table-cell;
            white-space: pre-wrap;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 0;
            padding-bottom: 0;
            border-top: 0.5px solid transparent;
            border-bottom: 0.5px solid var(--colors-delta-300);

            &:first-child {
                border-left: 0.5px solid transparent;
            }
            &:last-child {
                border-right: 0.5px solid transparent;
            }
        }

        .action-cell {
            height: 100%;
            position: sticky;
            right: 0px;
            z-index: 1;
            // cell selected
            &.selected {
                background-color: var(--colors-gama-50);
            }
            &.shadowed {
                box-shadow: -15px 0px 15px rgba(0, 0, 0, 0.1);
            }
        }

        // fixed cell
        .fixed-cell {
            height: 100%;
            position: sticky;
            left: 0;
            z-index: 1;
            box-shadow: 15px 0px 15px rgba(0, 0, 0, 0.1);

            // cell selected
            &.selected {
                background-color: var(--colors-gama-50);
            }
        }

        // row selected
        &.selected {
            background-color: var(--colors-gama-50);
        }
    }

    .t-row.is-loading {
        opacity: 0.5;
    }

    // custom
    .action-cell-default-background {
        background-color: white;
    }

    .fixed-cell-default-background {
        background-color: white;
    }

    tr.no-rows-overlay {
        height: 112px;

        td {
            font-size: 0.875rem;
            line-height: 1.25rem;
            text-align: center;
            vertical-align: middle;
        }
    }

    .hide-table-header {
        height: 0px;
        opacity: 0;
    }
    .show-table-header {
        position: relative;
        height: 30px;
        opacity: 1;
    }

    .sortable-column {
        cursor: pointer;
        user-select: none;
    }

    .resizer {
        position: absolute;
        top: 0;
        height: 100%;
        right: 0;
        width: 5px;
        background: var(--colors-delta-300);
        cursor: col-resize;
        user-select: none;
        touch-action: none;
    }

    .resizer.isResizing {
        background: var(--colors-gama-500);
        opacity: 1;
    }

    @media (hover: hover) {
        .resizer {
            opacity: 0;
        }

        *:hover > .resizer {
            opacity: 1;
        }
    }

    .table-header {
        display: table-header-group;
        z-index: 49;
        background-color: var(--colors-gray-10);
        cursor: default;

        .t-cell {
            text-transform: uppercase;
            background-color: transparent;
            font-size: 10px;
            font-weight: 600;
            text-align: start;
            color: var(--colors-delta-600);
            // display: table-cell;
            white-space: pre-wrap;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 0;
            padding-bottom: 0;
            border-top: 0.5px solid var(--colors-delta-300);
            border-bottom: 0.5px solid var(--colors-delta-300);

            &.t-cell__actions {
                position: sticky;
                right: 0;
                background-color: var(--colors-gray-10);
                // box-shadow: -15px 0px 15px rgba(0, 0, 0, 0.1);

                &.shadowed {
                    box-shadow: -15px 0px 15px rgba(0, 0, 0, 0.1);
                }
            }

            &.t-cell__fixed {
                position: sticky;
                left: 0;
                background-color: var(--colors-gray-10);
                z-index: 160;
                box-shadow: 15px 0px 15px rgba(0, 0, 0, 0.1);
            }
        }

        .sort-icon {
            color: var(--colors-delta-800);
        }
    }

    .table-footer {
        display: flex;
        width: 100%;
        gap: 8px;
        background-color: transparent;
        flex-direction: row;
        padding-top: 4px;
        padding-bottom: 4px;
        align-items: center;
        justify-content: flex-end;
    }
}
