name: Build and Publish

on:
    push:
        branches:
            - master

jobs:
    publish:
        uses: Carasent-ASMA/asma-modules/.github/workflows/reusable-publish.yml@master
        with:
            publish: true
            package_name: "asma-ui-table"
        secrets: inherit
